@model IEnumerable<KvieskTaxa.Database.Models.Tariff>

@{
    ViewBag.Title = "Tarifai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tarifai</h2>

<p>
    @Html.ActionLink("Kurti nauja", "CreateTariff", "Administrator")
</p>
<table class="table">
    <tr>
        <th>
            Vairuotojas
        </th>
        <th>
            Isedimo kaina
        </th>
        <th>
            Kilometro kaina
        </th>
        <th>
            Galioja nuo
        </th>
        <th>
            Galioja iki
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KilometersPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidTo)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "editTariff", new { controller = "Administrator", area = "Administrator", id=item.TariffId }) |
            @Html.ActionLink("Istrinti", "DeleteTariff", new { controller = "Administrator", area = "Administrator", id =item.TariffId })
        </td>
    </tr>
}

</table>
