
@{
    ViewBag.Title = "Keisti slaptažodį";
}

<h2>Keisti slaptažodį</h2>

@model KvieskTaxa.Models.ChangePasswordModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="form-horizontal">
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(x => x.OldPassword, "Senas slaptažodis", new { @class = "control-label" })
                @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.OldPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.NewPassword, "Naujas slaptažodis", new { @class = "control-label" })
                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword, "Pakartoti naują slaptažodį", new { @class = "control-label" })
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Išsaugoti" />
            </div>
        </fieldset>
    </div>
}

