@model KvieskTaxa.Database.Models.CallDriver
@{
    ViewBag.Title = "Iškvietimų sąrašas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var driverId = (int)ViewBag.DriverState;
    var driverState = (string)ViewBag.DriverState.ToString();
    switch (driverState)
    {
        case "2":
            driverState = "Stovi";
            break;
        case "3":
            driverState = "Važiuoja paimti keleivių";
            break;
        case "4":
            driverState = "Veža keleivius";
            break;
        default:
            driverState = "Nedirba";
            break;
    }
}
<button type="button" style="float: right;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">@driverState</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pasirinkite būseną:</h4>
            </div>
            <div class="modal-body">
                @Html.ActionLink("Stovi", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 2 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
                <br>
                <br>
                @Html.ActionLink("Važiuoja paimti keleivių", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 3,latitude = @latitude, @longitude }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
                <br>
                <br>
                @Html.ActionLink("Veža keleivius", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 4 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
                <br>
                <br>
                @Html.ActionLink("Nedirba", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 5 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
            </div>
        </div>
    </div>
</div>
<h2>Iškvietimų sąrašas</h2>

<table class="table">
    <tr>
        <th>
            Klientas
        </th>
        <th>
            Būsena
        </th>
        <th>
            Atstumas
        </th>
        <th>
            Išsiuntimo data
        </th>
        <th>
            Paėmimo data
        </th>
    </tr>

    @foreach (var item in Model.Calls)
    {
        var callState = (string) @Html.DisplayFor(modelItem => item.State).ToString();
        if (callState == "0")
            callState = "Naujas";
        if (callState == "1")
            callState = "Paskirtas";
        if (callState == "2")
            callState = "Priimtas";
        if (callState == "3")
            callState = "Vykdomas";
        if (callState == "4")
            callState = "Atšauktas";
        if (callState == "5")
            callState = "Užbaigtas";
        /*
         * compilation error :O
        switch (callState)
        {
            case "0":
                callState = "Naujas";
                break;
            case "1":
                callState = "Paskirtas";
                break;
            case "2":
                callState = "Priimtas";
                break;
            case "3":
                callState = "Vykdomas";
                break;
            case "4":
                callState = "Atšauktas";
                break;
            default:
                callState = "Užbaigtas";
                break;
        }*/

        <tr style="cursor: pointer;" onclick="window.location='Driver/openCallInfo/'+ @Html.DisplayFor(modelItem => item.CallId)">
            <td>
                @Html.DisplayFor(modelItem => item.Client.User.username)
            </td>
            <td>
                @callState
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTime)
            </td>
        </tr>
    }
</table>
<!--
<input type="button" id="driver" value="Load Data" />
<script type="text/javascript">
    $.ajax({
        type: "POST",
        url: '//freegeoip.net/json/',
        dataType: 'jsonp',
        success: function (location) {
            var latitude = location.latitude;
            var longitude = location.longitude;
            $.ajax({
                type: "POST",
                url: "http://localhost:4424/Agent/UpdateDriversLocation",
                data: 'id=' + a,
                success: function (data) {

                }
            });
        }
    });
</script>-->


