@model KvieskTaxa.Database.Models.CallDriver
@{
    ViewBag.Title = "Iškvietimų sąrašas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" style="float: right;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Būsenos keitimas</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pasirinkite būseną:</h4>
            </div>
            <div class="modal-body">
                @Html.ActionLink("Stovi", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 2 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
                <br>
                <br>
                @Html.ActionLink("Važiuoja paimti keleivių", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 3 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
                <br>
                <br>
                @Html.ActionLink("Veža keleivius", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 4 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
                <br>
                <br>
                @Html.ActionLink("Nedirba", "changeDriverState", new { controller = "Driver", area = "Driver", stateId = 5 }, new { @style = "width:100%", @class = "btn btn-info btn-lg" })
            </div>
        </div>
    </div>
</div>
<h2>Iškvietimų sąrašas</h2>

<table class="table">
    <tr>
        <th>
            Klientas
        </th>
        <th>
            Būsena
        </th>
        <th>
            Atstumas
        </th>
        <th>
            Išsiuntimo data
        </th>
        <th>
            Paėmimo data
        </th>
    </tr>

    @foreach (var item in Model.Calls)
    {
        <tr style="cursor: pointer;" onclick="window.location='Driver/openCallInfo/'+ @Html.DisplayFor(modelItem => item.CallId)">
            <td>
                @Html.DisplayFor(modelItem => item.Client.User.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTime)
            </td>
        </tr>
    }

</table>


